
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.TitlePag = "Listado de Tickets";

}
<input type="hidden" id="UrlServicio" value="@System.Configuration.ConfigurationManager.AppSettings["UrlServicio"]" />
<input type="hidden" id="IdEmpleado" value="@System.Configuration.ConfigurationManager.AppSettings["IdEmpleado"]" />
<input type="hidden" id="IdRol" value="@System.Configuration.ConfigurationManager.AppSettings["IdRol"]" />
<script type="text/javascript">
    $(document).ready(function () {

        listarEstado = function () {
            $.ajax({
                url: $("#UrlServicio").val() +"/api/Ticket/ListadoEstado",
                type: "POST",
                dataType: "json",
                success: function (data) {
                    if (data.length > 0) {
                        var options = "";
                        for (var i = 0; i < data.length; i++) {
                            $("#estado").append("<option value=" + data[i].IdEstado + ">" + data[i].NomEstado+"</option>");
                        }
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
        }

        listarPrioridad = function () {
            $.ajax({
                url: $("#UrlServicio").val() + "/api/Ticket/ListadoPrioridad",
                type: "POST",
                dataType: "json",
                success: function (data) {
                    if (data.length > 0) {
                        var options = "";
                        for (var i = 0; i < data.length; i++) {
                            $("#prioridad").append("<option value=" + data[i].IdPrioridad + ">" + data[i].NomPrioridad + "</option>");
                        }
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
        }

        LlenarTablaTicket = function () {

            var NomCliente = $("#buscar").val();
            var IdEstado = $("#estado").val();
            var IdPrioridad = $("#prioridad").val();
            var IdEmpleado = $("#IdEmpleado").val();
            var IdRol = $("#IdRol").val();

            $.ajax({
                url: $("#UrlServicio").val() + "/api/Ticket/ListadoTicket",
                type: "POST",
                //dataType: "json",
                data: { "NomCliente": NomCliente, "IdEstado": IdEstado, "IdPrioridad": IdPrioridad, "IdEmpleado": IdEmpleado, IdRol: IdRol },
                success: function (data) {

                    var html = "";
                    if (data != null) {
                        if (data.length > 0) {

                            for (var i = 0; i < data.length; i++) {

                                //var IdTicket = data[i].IdTicket;
                                var rutaticket = '@Url.Action("Editar", "Ticket", new { id = "IdTicket" })'.replace("IdTicket", parseInt(data[i].IdTicket));

                                if ($("#IdRol").val() == 1) {
                                    rutaticket = '@Url.Action("AsigResp", "Ticket", new { id = "IdTicket" })'.replace("IdTicket", parseInt(data[i].IdTicket));
                                }
                                html += "<tr>";
                                html += "<td>" + data[i].IdTicket + "</td>";
                                html += "<td>" + data[i].NomProyecto + "</td>";
                                html += "<td>" + data[i].NomMantenimiento + "</td>";
                                html += "<td>" + data[i].FeCreTicket + "</td>";
                                html += "<td>" + data[i].NomCliente + "</td>";
                                html += "<td>" + data[i].NomEmpleado + "</td>";
                                html += "<td>" + data[i].NomEstado + "</td>";
                                html += "<td>" + data[i].NomPrioridad + "</td>";
                                html += "<td><a href='"+rutaticket+"'><i class='fa fa-eye'></i></a></td>";
                                html += "</tr>";

                            }

                        }
                    } else{
                        html += "<tr><td colspan='9'>No existen tickets de atención</td></tr>";
                    }

                    $("#detalle_ticket").html(html);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
        }

        listarEstado();
        listarPrioridad();
        LlenarTablaTicket();

        $("#estado").on("change", function () {
            LlenarTablaTicket();
        });
        $("#buscar").on("keyup", function () {
            LlenarTablaTicket();
        });
        $("#prioridad").on("change", function () {
            LlenarTablaTicket();
        });


    })
</script>

<div class="row">
	<div class="col-xs-12">
		<div class="box box-primary">
			<form role="form">
				<div class="box-body">
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								<label for="Buscar">Ingrese Busqueda (Buscar por Nro. Ticket y Nombre del cliente)</label>
								<input type="text" class="form-control" id="buscar" name="buscar" placeholder="Buscar">
							</div>
						</div>
						<div class="col-lg-3">
							<div class="form-group">
								<label for="">Estado</label>
								<select class="form-control" id="estado" name="estado">
									<option value="">Seleccionar Estado</option>
								</select>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="form-group">
								<label for="">Prioridad</label>
								<select class="form-control" id="prioridad" name="prioridad">
									<option value="">Seleccionar Prioridad</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-body table-responsive no-padding">

				<div id="mybbGrid"></div>

				<table id="bbgrid" class="table table-hover table-striped">
					<thead>
						<tr>
							<th>Nro.</th>
							<th>Proyecto</th>
							<th>Tipo</th>
							<th>Fecha de Creación</th>
							<th>Nombre del Cliente</th>
							<th>Responsable</th>
							<th>Estado</th>
							<th>Prioridad</th>
							<th>Acción</th>
						</tr>
					</thead>
					<tbody id="detalle_ticket">
						<!--lista detalle ticket-->
					</tbody>
				</table>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
</div>

