@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.TitlePag = "Listado de Base de Conocimiento";
}
<input type="hidden" id="UrlServicio" value="@System.Configuration.ConfigurationManager.AppSettings["UrlServicio"]" />
<input type="hidden" id="IdEmpleado" value="@System.Configuration.ConfigurationManager.AppSettings["IdEmpleado"]" />
<input type="hidden" id="IdRol" value="@System.Configuration.ConfigurationManager.AppSettings["IdRol"]" />
<script type="text/javascript">
    $(document).ready(function () {

        listarCategoria = function () {
            $.ajax({
                url: $("#UrlServicio").val() +"/api/TipoSolucion/ListadoCategoria",
                type: "POST",
                dataType: "json",
                success: function (data) {
                    if (data.length > 0) {
                        var options = "";
                        for (var i = 0; i < data.length; i++) {
							$("#SOL_CAT_ID").append("<option value=" + data[i].CAT_ID + ">" + data[i].CAT_Descripcion+"</option>");
                        }
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
        }

        LlenarTablaTipoSolucion = function () {

			var SOL_Nombre = $("#SOL_Nombre").val();
			var SOL_CAT_ID = $("#SOL_CAT_ID").val();

            $.ajax({
				url: $("#UrlServicio").val() + "/api/TipoSolucion/ListadoTipoSolucion",
                type: "POST",
                dataType: "json",
				data: { "SOL_Nombre": SOL_Nombre, "SOL_CAT_ID": SOL_CAT_ID},
                success: function (data) {
					//console.log(data);
                    var html = "";
                    if (data != null) {
                        if (data.length > 0) {

                            for (var i = 0; i < data.length; i++) {

                                //var IdTicket = data[i].IdTicket;
								var editar = '@Url.Action("Editar", "TipoSolucion", new { id = "SOL_ID" })'.replace("SOL_ID", parseInt(data[i].SOL_ID));
								var emilinar = '@Url.Action("Eliminar", "TipoSolucion", new { id = "SOL_ID" })'.replace("SOL_ID", parseInt(data[i].SOL_ID));

                                html += "<tr>";
								html += "<td>" + data[i].SOL_ID + "</td>";
								html += "<td>" + data[i].SOL_Nombre + "</td>";
								html += "<td>" + data[i].CAT_Descripcion + "</td>";
								html += "<td>" + data[i].SOL_FechaCreacion + "</td>";
                                html += "<td><a alt='Editar' href='" + editar + "'</a><span class='glyphicon glyphicon-edit fa-2x'></span></a></td>";
                                html += "<td><a alt='Eliminar' href='" + emilinar + "'><span class='glyphicon glyphicon-trash fa-2x'></span></a></td>";
                                html += "</tr>";

                            }

                        }
                    } else{
                        html += "<tr><td colspan='9'>No existen tickets de atención</td></tr>";
                    }

					$("#detalle_tipo_solucion").html(html);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
        }

        listarCategoria();
        LlenarTablaTipoSolucion();
        //LlenarTablaTicket();

        
        $("#SOL_Nombre").on("keyup", function () {
			LlenarTablaTipoSolucion();
        });
        $("#SOL_CAT_ID").on("change", function () {
			LlenarTablaTipoSolucion();
        });


    })
</script>

<div class="row">
	<div class="col-xs-12">
		<div class="box box-primary">
			<form role="form">
				<div class="box-body">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-sm-6" >
							<div class="form-group">
								<label for="Buscar">Buscar Por (Nro. ó Nombre)</label>
								<input type="text" class="form-control" id="SOL_Nombre" name="SOL_Nombre" placeholder="Buscar">
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-sm-6">
							<div class="form-group">
								<label for="">Categoría</label>
								<select class="form-control" id="SOL_CAT_ID" name="SOL_CAT_ID">
									<option value="">Todos</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<p><a href="@Url.Action("Nuevo", "TipoSolucion")" class="btn btn-primary btn-md">Nuevo</a></p>
<div class="row">
	<div class="col-xs-12">
		<div class="box">
            <div class="box-body">
                <div class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="bbgrid" class="table table-bordered table-hover dataTable">
                                <thead>
                                    <tr>
                                        <th>Nro.</th>
                                        <th>Nombre</th>
                                        <th>Categría</th>
                                        <th>Fecha de Creación</th>
                                        <th colspan="2">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="detalle_tipo_solucion">
                                    <!--lista detalle tipo solucion-->
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-sm-12">
                            <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate"><ul class="pagination"><li class="paginate_button previous disabled" id="example2_previous"><a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0">Previous</a></li><li class="paginate_button active"><a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0">2</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0">3</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="4" tabindex="0">4</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="5" tabindex="0">5</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="6" tabindex="0">6</a></li><li class="paginate_button next" id="example2_next"><a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0">Next</a></li></ul></div>
                        </div>
                    </div>
                </div>
            </div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
</div>


